<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Looted Art Detector</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Looted Art Detector</h1>
      <h2>counts indicators of unreliability, uncertainty, anonymity as well as known Red Flags</h2>

      <form name="form" enctype="multipart/form-data" action="/testCSV/" method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td class="label"><label for="column">1. Enter the name of the column containing provenance texts to analyse</label></td>
            <td class="content"><input type="text" id="column" name="column" placeholder="Column Name" required/></td>
          </tr>
          <tr>
            <td class="label"><label for="testCSV">2. Upload CSV file to analyse</label></td>
            <td class="content"><input class="file" type="file" id="testCSV" name="testCSV"/></td>
          </tr>
          <tr>
            <td class="label"><label for="indicatorCSV" class="optional">3. (Optional) Replace default indicator file with custom CSV file</label></td>
            <td class="content"><input class="file" type="file" id="indicatorCSV" name="indicatorCSV"/></td>
          </tr>
          <tr>
            <td class="label"><strong>Flag input and download result</strong></td>
            <td class="content"><button type="submit" >Click to run</button></td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
